
html{
    background-image: url('./images/bg1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    width: 70%;
    border: 1px solid black;
    margin: auto;
}

.img-bg{
    height: 300px;
    border: solid 1px red;
    background-image: url('./images/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -120px;
}

.color-bg{
    height: 200px;
    border: 1px solid yellow;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(30,89,134,0.5);
}

.long-page{
    height: 4000px;
    border: 5px solid green;
}