
.container{
    height: 70vh;
    width: 100vw;
    background-color: red;
}

.header{
    height: 20vh;
    background-color: rgb(145, 229, 10);
}

.body{
    height: 70vh;
    background-color: rgb(2, 36, 65);
}

.footer{
    height: 10vh;
    background-color: black;
}

img{
    width: 40px;
    height: 40px;
    margin: 50px;
    
}